In [ ]:
a = 54 
b = a**8 # power operation
print(b)

In [ ]:
# Explain
# `a` is placeholder which can have any value
# `b` is another placeholder which we assign value of `a` to the power of 8
# each line above is an expression

# Dissecting the program
- code - this is an isntruction for the computer
- comments - this is an explanation for the human/another-programmer

# Jupyter basics
 - markdown cell
 - code cell
 - result from last line will printed

- this is an example markdown cell

In [ ]:
2+3 # expression

# Pyton Basics

## Entering Expressions into Code Cell

In [ ]:
2+2 # code which evaluate into single value: E: 4

## Errors are okay
- error means computer did not undersand
- harmless

In [ ]:
2+2

In [ ]:
2/0

## Data Types
- integers: 
  - 1,2,3, -4
- floating point numbers
  -  1.2
- strings:
  -  'name'

In [ ]:
12

In [ ]:
12.4

In [ ]:
a = 'some text'

In [ ]:
a

## String Concatenation and Replication

- for numeric data types + means addition
- for string data types `+` means concatenation operator

In [ ]:
mystring = 'software' + ' ' + 'programming'
mystring # last line prints by default

In [ ]:
mynumber = 2+5 # it is not 25
mynumber

- same principle applies for `*` as well

In [ ]:
mystring*5 # * is a repetition operator, not a multiplication operator

# Storing Values in Variables

- a variable is like abox or a container

## Assignment Statements
- assignemnt statement consists of variable name, an equal sign (assignment operator), value to be stored

In [ ]:
age = 3 # asigning value (3) to a variable (age)

In [ ]:
age

In [ ]:
age=age+1
age

In [ ]:
# when a new value is assigned to a variable, the old value is lost
age = 31 
age

## Variable names
![alt text](20220905092625.png "Title")

- valid variable names

In [ ]:
my_age = 21

In [ ]:
my_age1 = 21

In [ ]:
_my_age = 21

- invalid variable names

In [ ]:
my_age@ = 21
my_age

In [ ]:
2my_age = 21

In [ ]:
my-age = 21

# First Program
- program greets user
- asks for name
- responds with his name
- prints lengths of the name
- asks for age
- computes the age for the next year and prints

In [ ]:
print('Hello')
print("Plesae enter your name")
name = input()
print('Welcome ', name)
print('lenth of your name is ', len(name))

print("what is your age?")
age = input()
print('age you entered is ', age)

print('you will be ', int(age)+1, ' in a year')

# September 8 - deeper look

## The print() Function

### cell output

In [1]:
print("This is the message")

This is the message

In [2]:
print("this is three seperate items",2,4)

this is three seperate items 2 4

In [ ]:
# every function has ()

## The input() Function

In [ ]:
##

In [3]:
message = input() # we have a variable named `message` and we assign a value which is read through input() function

In [4]:
print(message)

class002

In [5]:
message

'class002'

In [7]:
message

'class002'

## Printing the User’s Name

In [6]:
name = input()
print(name, 'is an instructor')

Jumabek is an instructor

In [10]:
a = 5
b = 5

In [11]:
a+b

10

## The len() Function
- function cuz has a `()`
- count the lengths of the string

In [21]:
string_variable  = 'Software$%===   Engineering'
len(string_variable)

27

In [13]:
string_variable

'Software  Programming is difficult. However, it is valubale and worth it'

In [14]:
len(string_variable)

72

In [25]:
a = 5 # integer variable
len(a)

TypeError: object of type 'int' has no len()

## The str(), int(), and float() Functions

In [29]:
type(12)# integer

int

In [30]:
type(12.4) # float

float

In [31]:
type('23')# string

str

In [39]:
age = -12.9
age

-12.9

In [40]:
# integers are counting numbers + and - whole numbers and 0
int(age) # casting/converting the value of age into integer data type

-12

In [43]:
salary = input() # input function by default reads string data type
#salary = float(salary) # float means decimal number
print(salary)

35

In [45]:
casted_salary = float(salary) # float(salary) changing type of salary to float 
type(casted_salary)

float

In [47]:
salary = input() # input function by default reads string data type
salary = float(salary) + 10 # numerical ops can be done on numbers only
salary

45.0

In [48]:
# equivalanbt expression
new_salary = float('23.3')+1
new_salary

24.3

In [ ]:
new_salary

In [53]:
print("Your  salary in one year is " + int(new_salary*12) )

TypeError: can only concatenate str (not "int") to str

### can we add float and integer

In [60]:
float(12.3)+int(12)

24.3

In [ ]:
a=5 # assigns number 5 to variable  `a`
# ==

### TEXT AND NUMBER EQUIVALENCE

In [54]:
int('12') # it will convert string to integer number of 12

12

In [55]:
int('12')==12 # == means equivalnce test

True

In [ ]:
int('12')=12 # `=` is an assignment operator. E: a = 2

In [62]:
#
b = 2 # variable is a container or box which can store value
b

2

In [63]:
b=2 # assigning value 2 to variable b
b

10

In [61]:
b

5

# Homework

## Question 0: write a code that does the following
- assign your name to a variable 
- print the variable to the `cell output`

## Solution 0:

In [ ]:
## write your code here

## Question 1: Which of the following is a value, and which is a string?
- `*`
- `'hello'`
- `-88.8`
- `-`
- `/`
- `+`
- `5`

## answer 1: type the correct answer(s) below; e.g. 1,2

type here

## Question 2: which of the following is a variable and which is a string?
- `spam`
- `'spam'`

## Answer 2: type the correct answer below:

type here